{{> navigation isCreateDish=true }}
<div class='container mt-5'>
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h2 class='mb-4'>Criar Novo Prato</h2>
      <form action='/create-dish' method='POST' enctype='multipart/form-data'>
        <div class='mb-3'>
          <label for='titulo' class='form-label'>Título</label>
          <input
            type='text'
            class='form-control'
            id='titulo'
            name='titulo'
            required
          />
        </div>
        <div class='mb-3'>
          <label for='descricao' class='form-label'>Descrição</label>
          <textarea
            class='form-control'
            id='descricao'
            name='descricao'
            rows='3'
            required
          ></textarea>
        </div>
        <div class='mb-3'>
          <label for='urlImg' class='form-label'>Imagem</label>
          <input
            type='file'
            class='form-control'
            id='urlImg'
            name='urlImg'
            required
          />
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <button type='button' class='btn btn-outline-secondary me-md-2' onclick='window.history.back()'>Voltar</button>
          <button type='submit' class='btn btn-success'>Criar Prato</button>
        </div>
      </form>
    </div>
  </div>
</div>