{{> navigation isRegister=true }}
<div class='container mt-5'>
  <div class='row justify-content-center'>
    <div class='col-md-6'>
      <div class='card shadow-sm'>
        <div class='card-header bg-primary text-white'>
          <h3 class='text-center'>Registro</h3>
        </div>
        <div class='card-body'>
          <form action='/register' method='post'>
            <div class='mb-3'>
              <label for='usuario' class='form-label'>Nome de usuário</label>
              <input
                type='text'
                class='form-control'
                id='usuario'
                name='usuario'
                required
              />
            </div>
            <div class='mb-3'>
              <label for='senha' class='form-label'>Senha</label>
              <input
                type='password'
                class='form-control'
                id='senha'
                name='senha'
                required
              />
            </div>
            <div class="d-grid">
              <button type='submit' class='btn btn-success'>Registrar</button>
            </div>
          </form>
          {{#if success}}
            <div class='alert alert-success mt-3' role='alert'>
              Registro realizado com sucesso! Por favor, faça login.
            </div>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</div>