<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Submissões</title>
</head>
<body>
  <h1>Submissões de Formulário</h1>
  <table>
    <thead>
      <tr>
        <th>Email</th>
        <th>Mensagem</th>
        <th>Data de Envio</th>
      </tr>
    </thead>
    <tbody>
      {{#each submissions}}
        <tr>
          <td>{{this.email}}</td>
          <td>{{this.message}}</td>
          <td>{{this.createdAt}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
  <footer>
    <p>&copy; {{actualYear}}</p>
  </footer>
</body>
</html>
